/* styles.css */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height:100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
}
header img {
  width: 50px;
  margin-left: 10vw;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-left: 40vw;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(92, 203, 247);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.country-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.country-card:hover {
  transform: translateY(-5px);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin-bottom: 10px;
  }

  .search-container {
    flex-direction: column;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }
}
